@import url("https://fonts.googleapis.com/css2?family=Anton&family=Cookie&family=Rubik&family=Rubik+Iso&family=Spline+Sans+Mono:ital,wght@1,700&family=Spline+Sans:wght@700&display=swap");

.header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 1.2rem;
  h3 {
    font-family: "Rubik Iso", cursive;
  }
  img {
    width: 29.38px;
    height: 25px;
    align-items: center;
      &:hover{
        opacity: 0.6;
        height: 26px;
        width: 31px;
      }
  }
}
.menuLink {
  animation-name: fadeInOut;
    animation-duration: 1.3s;
    text-align: center;
  width:80vw;
  height: 30vh;
 position:fixed;
 z-index: 30;
 left: 10vw;

  border-radius: 2.5vh;

  background-color: rgba(35, 35, 35, 0.87);
  backdrop-filter: blur(0.5vh);
  box-shadow: 0 0 3rem 30rem rgba(0, 0, 0, 0.781);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.8s ease-in-out all ;
  ul {
    height: 100%;
    display: flex;
flex-direction: column;
align-items: center;
justify-content: space-around;
    li {
      font-size: 4vh;
      
      list-style: none;
      -webkit-tap-highlight-color: transparent;
      transition: transform all 0.3s ease-in;
      &:hover {
        transform: translateY(-3px) scale(0.9);
      }
      a {
        text-decoration: none;

        p {
          color: #ffffff;
          &::first-letter {
            font-size: 2rem;
            color: rgb(60, 255, 184);
          }
          &:hover {
            color: rgb(212, 212, 212);
          }
        }
      }
    }
  }
}
.aboutmb{
  border-radius: 2vh;
  position: fixed;
  top: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #595959b2;
  z-index: 33;
   min-width: 60vw;
   max-width: 80vw;
   min-height: 30vh;
   backdrop-filter: blur(0.5vh);
   padding:0vh 2vh;
   h1{

    animation-name: fadeInOut;
    animation-duration: 0.8s;
    
   }
   h4{
    padding: 1vh 2vh;
    letter-spacing: 1.5px;
    color: #b1b1b1;
    animation-name: fadeInOut;
    animation-duration: 1.3s;
    a{
      color: rgb(43, 255, 230);
      text-decoration: none;
    }
   }
   form{
    animation-name: fadeInOut;
    animation-duration: 1s;
    display: flex;
    flex-direction: column;
    align-items: center;
    .send{
      background-color: #4b4b4b;
      color: aqua;
      padding: 0.5vh 1.5vh;
    }
   }
}
@keyframes fadeInOut {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}