
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Cookie&family=Kanit:ital,wght@0,100;1,200&family=Rubik&family=Rubik+Iso&family=Silkscreen&family=Spline+Sans+Mono:ital,wght@1,700&family=Spline+Sans:wght@700&family=ZCOOL+QingKe+HuangYou&display=swap');
body{
 
    min-height: 100vh;
}
* {
  margin: 0;
  padding: 0;
  color: #ffffff;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}
.app{
  display: none;
  visibility: none;
}
@media (orientation: portrait) { 
  .appDt{
    display:none;
  visibility: none;}
.app {
  display: block;
  visibility: visible;
 position: fixed;
 top: 0;
 bottom: 0;
height: 100vh;
  background: url(./Images/Android\ Large\ -\ 1.png) no-repeat;
  background-size: cover;
  width: 100vw;
  background-color: black;
}
}
.appDt{
  height: 100vh;
  background: url(./Images/BgPc.png);
  background-size: cover;
  display: flex;
  
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
 overflow: hidden;
}
  
